#nav_back {
  height: 192px;
  width: 100%;
}
#searchIcon {
  position: fixed;
  top: 25px;
  right: 25px;
  color: white;
  width: 40px;
  height: 40px;
}
#backIcon {
  position: fixed;
  top: 25px;
  left: 25px;
  color: white;
  width: 40px;
  height: 40px;
}
#input_box {
  position: fixed;
  top: 25px;
  right: 25px;
  color: black;
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
