#open_desk_msg {
  position: fixed;
  top: 45%;
  left: 40%;
}
@media (min-width: 768px) {
  .home {
    display: none;
  }
}
#nav_back {
  height: 152px;
  position: fixed;
  top: 0px;
  width: auto;
}
#searchIcon {
  position: fixed;
  top: 50px;
  right: 25px;
  color: white;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#backIcon {
  position: fixed;
  top: 45px;
  left: 25px;
  color: white;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#input_box {
  padding-left: 20px;
  color: black;
  width: 220px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
#blackSearchIcon {
  color: black;
  width: 25px;
  height: 25fpx;
}
#search_paper {
  position: fixed;
  background: white;
  display: flex;
  border-radius: 6px;
  top: 45px;
  right: 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 40px;
  -webkit-animation: scale-up-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.title_typo {
  font-family: Titillium !important;
  font-size: 21px !important;
  position: fixed;
  top: 50px;
  left: 67px;
  color: white;
  height: 40px;
}
.card_deck {
  text-align: center;
  padding: 10px;
  margin-top: 152px;
  width: 100%;
}
#poster_info {
  font-family: Titillium !important;
  font-size: 15px !important;
}
#divider {
  background-color: transparent;
  height: 45px;
}
.result_typo {
  font-family: Titillium !important;
  font-size: 17px !important;
  position: fixed;
  top: 53px;
  font-weight: 600 !important;
  left: 25px;
  color: white;
  height: 40px;
  white-space: pre-wrap;
}
#clear_icon {
  position: fixed;
  top: 48px;
  left: 263px;
  color: #ad1b02;
  width: 32px;
  height: 40px;
}
#nothing_found_div {
  font-family: Titillium !important;
  font-size: 18px !important;
  left: 30%;
  top: 40%;
  position: fixed;
}
#nothing_found {
  width: 170px;
  height: 180px;
}
#change_theme {
  top: 10px;
  position: fixed;
  z-index: 100;
  padding: 3px;
  right: 20px;
  font-family: Titillium !important;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px !important;
}
