#nav_back {
  height: 192px;
  position: fixed;
  top: 0px;
  width: 100%;
}
#searchIcon {
  position: fixed;
  top: 55px;
  right: 25px;
  color: white;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#backIcon {
  position: fixed;
  top: 55px;
  left: 25px;
  color: white;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#input_box {
  padding-left: 20px;
  color: black;
  width: 220px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
#blackSearchIcon {
  color: black;
  width: 25px;
  height: 25fpx;
}
#search_paper {
  position: fixed;
  background: white;
  display: flex;
  border-radius: 6px;
  top: 55px;
  right: 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 40px;
  -webkit-animation: scale-up-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.title_typo {
  font-family: Titillium !important;
  font-size: 21px !important;
  position: fixed;
  top: 60px;
  left: 67px;
  color: white;
  height: 40px;
}
.card_deck {
  text-align: center;
  padding: 10px;
  margin-top: 192px;
  width: 100%;
}
#poster_info {
  font-family: Titillium !important;
  font-size: 15px !important;
  color: white;
}
#movie_grid_block {
  background-color: black;
}
#divider {
  background-color: transparent;
  height: 45px;
}
